1. Registration
	1. The system shall allow visitors to the site to become a customer by
	   registering for a new account
		1. The system shall require each account to have a unique customername
		2. The system shall require the customer to choose and enter a password
		   for his/her account
		3. The system shall require the  customer to provide a valid email
		   address
		4. The system shall contact the customer by email to confirm that
		   registration is complete

1. Logging in
	1. The system shall require the customer to log in using their registered
	   customername and password in order to use the facilities offered by
	   Travpedia via the website

1. Customer Profiles
	1. The system shall allow the customer to view his/her profile
	2. The system shall allow the customer to amend his/her profile
	3. The system shall allow the customer to save payment information in
	   his/her profile
	4. The system shall allow the customer to save preference information in
	   his/her profile

1. Search
	1. The system shall allow a customer to search for products offered by
	   Subscribers using combination of one or more criteria

		1. The system shall allow the customer to search by type of product
		2. The system shall allow the customer to search for accommodation
		   products by location
		3. The system shall allow the customer to search for travel products by
		   point of departure and/or destination
		4. The system shall allow the customer to search by specifying a start
		   date and duration
		5. The system shall allow the customer to search by specifying a target
		   price range

	1. The system shall enable the customer to filter search results

		1. The system shall enable the customer to filter results by price
		2. The system shall enable the customer to filter results by product
		   rating
		3. The system shall enable the customer to filter results by company
		   rating
		4. The system allow the customer to view only results that match the
	   	   preferences specified in his/her profiles

	1. The system shall enable the customer to sort search results

		1. The system shall enable the customer to sort results by price
		2. The system shall enable the customer to sort results by product
		   rating
		3. The system shall enable the customer to sort results by company
		   rating

1. Make a new booking
	1. The system shall allow the customer to make a new booking

1. View or amend an existing booking
	1. The system shall allow the customer to view an existing booking
	2. The system shall allow the customer to amend an existing booking
	3. The system shall allow the customer to cancel a booking

1. Make a payment
	1. The system shall allow the customer to make a payment
		1. The system shall allow the customer to pay bycredit/debit card
		2. The system shall allow the customer to pay byTravpedia voucher
		3. The system shall allow the customer to pay by third-party voucher

Non-Functional Requirements
